h1 {
	text-align : center ;
	color : maroon ; 
}

.posts {
	width : 70% ; 
	margin : auto ; padding : 20px ; margin-top : 20px ;
	background-color : rgb(231, 204, 209) ;
}

.user {
	font : italic 20px/30px "Times New Roman", serif ;
}

.content{
	text-align : center ;
}


